.header{
    background-color: black;
    color: rgb(255, 255, 255);
    height: 120px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
}
.header-name{
    position: absolute;
    width: 1444px;
    height: 74px;
    left: 59px;
    top: 13px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.information-main-page{
    position: absolute;
    width: 820px;
    height: 587px;
    left: 59px;
    top: 150px;
}
.text-information-main-page{
    position: absolute;
    width: 1077px;
    height: 320px;
    left: 59px;
    top: 150px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #000000;

}
/* Блок с кнопками для дисциплин */
.btn-disciplines-block{
    
    position: absolute;
    width: 400px;
    height: 342px;
    left: 980px;
    top: 320px;
}
/* Сами кнопки дисциплин */
.btn-disciplines{
    position: absolute;
    width: 400px;
    height: 102px;
    background: #BDF6A1;
    box-shadow: 10px 7px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.btn-disciplines2{
    position: absolute;
    width: 400px;
    height: 102px;
    margin-top: 140px;
    background: #BDF6A1;
    box-shadow: 10px 7px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.btn-disciplines:hover {
    background: rgba(0,0,4,0);
    color: #000000;
    background-color: rgb(189,246,161);
    box-shadow: inset 5px 3px 2px 1px #BDF6A1;
}

.btn-disciplines2:hover {
    background: rgba(0,0,4,0);
    color: #000000;
    background-color: rgb(189,246,161);
    box-shadow: inset 5px 3px 2px 1px #BDF6A1;
}

.contactUs{
    position: absolute;
    width: 504px;
    height: 128px;
    left: 59px;
    top: 650px;
}

