.div-Head, .div-Head-with-button-to-main{
    background-color: black;
    color: rgb(255, 255, 255);
    height: 75px;
    border-radius: 15px;
    box-shadow:7px 7px 10px 2px #B3B2B2;
}

.div-Head-with-button-to-main{
    display: flex;
}

h1, h2{
    margin: 10px;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}

h2{
    font-size: 25px;
}

.information-main-page{
    color: black;
    margin-top: 80px;
    display: flex;
}

button, button-to-main-page{
    width: 400px;
    height: 102px;
    background: #BDF6A1;
    box-shadow: 10px 7px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 15px;
}

button:hover{
    background: rgba(0,0,4,0);
    color: #000000;
    background-color: rgb(189,246,161);
    box-shadow: inset 5px 3px 2px 1px #BDF6A1;
    transform: scale(0.97);
    transition-duration: 1s ;
}

.button-to-main-page{
    width: 180px;
    height: 45px;
}

.btn-disciplines-block{
    margin-left: auto;
}

